.home-page {
  .owl-carousel {
    .item {
      img {
        @include scale(1.1);
        @include transition(all 8s);
      }
    }

    .owl-item {
      .owl-item {
        opacity: 0;

        @include transition(all 3s);

        &.scale {
          opacity: 1;

          img {
            @include scale(1);
          }
        }
      }
    }
  }
}

.owl-carousel-item-imgoverlay {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 50%;
  overflow: hidden;
  @include translate(-50%, -50%);

  span {
    display: block;
  }

  .animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }
}

.owl-carousel-item-imgcontent {
  font-size: 22px;

  span {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
}

.owl-carousel-item-imgtitle {
  font-size: 36px;
  margin-bottom: 15px;
}

.owl-theme .owl-controls {
  position: absolute;
  top: 47%;
  width: 100%;
  margin-top: 0;

  @include translate(0, -50%);
}

.owl-nav {
  & > div {
    position: absolute;
    margin: 0 !important;
    background: none !important;
    font-size: 44px !important;
    border-radius: 50% !important;
    border: 2px solid #fff;

    @include transition(all 0.3s);

    &:hover {
      border-color: $base-green;
      
      &:before {
        color: $base-green;
      }
    }

    &:before {
      color: #fff;
      @include fa;
      @include transition(all 0.3s);
    }
  }
}

.owl-prev {
  left: 40px;
  padding: 0px 17px 5px 14px !important;

  &:before {
    content: "\f104";
  }
}

.owl-next {
  right: 40px;
  padding: 0px 14px 5px 17px !important;

  &:before {
    content: "\f105";
  }
}