body {
  &:not(.home-page) {
    main {
      padding-top: 100px;
    }
  }
}

a {
  color: $base-green;

  @include transition(all 0.3s);

  &:hover {
    color: $light-gray;
    text-decoration: none;
  }
}