html, body {
  height: 100%;
}

body {
  &:not(.home-page) {
    main {
      padding-top: 100px;
    }

    #wrapper {
      min-height: 100%;
      position: relative;
      padding-bottom: 50px;
    }
  }
}

a {
  color: $base-green;

  @include transition(all 0.3s);

  &:focus {
    color: $light-gray;
    outline: none;
  }

  &:hover {
    color: $light-gray;
    text-decoration: none;
  }
}

.title {
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: -1px;
}

.bold {
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
  font-size: 26px;
  letter-spacing: -1px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

#wrapper {
  .woocommerce #respond input#submit,
  .woocommerce a.button,
  .woocommerce button.button,
  .woocommerce input.button {
    @include btn-active;

    &[name="update_cart"] {
      font-size: 14px;
    }

    &.checkout-button {
      font-size: 20px;
    }
  }
}

.wc-proceed-to-checkout {
  text-align: right;
}

.woocommerce {
  .cart_totals {
    table.shop_table {
      font-size: 22px;
      margin-top: 20px !important;

      tr {
        th {
          background: #ccc;
        }

        td {
          text-align: right;
        }
      }
    }
  }
}


.quantity {
  .qty {
    width: 65px !important;
    height: 34px;
    float: left;
    margin: 0 5px;
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  .minus {
    &:before {
      content: '-';
    }
  }

  .plus {
    &:before {
      content: '+';
      top: 50%;
    }
  }

  > div {
    float: left;
    width: 30px;
    height: 34px;
    cursor: pointer;
    position: relative;

    @include btn-active;

    padding: 0;

    &:before {
      font-size: 34px;
      text-align: center;
      left: 50%;
      top: 40%;
      position: absolute;

      @include translate(-50%, -50%);
    }
  }
}

.woocommerce-main-image {
  img {
    @include img-responsive;

    margin-bottom: 25px;
  }
}

.thumbnails.columns-3 {
  img {
    width: 33.333333%;
    margin-bottom: 10px;
  }
}

figure {
  img {
    @include img-responsive;
  }
}

.related.products {
  article {
    width: 33.33333%;

  }
}

.button {
  @include btn-active;
}

.comment-form {
  input.submit {
    @include btn-active;
  }

  .comment-form-comment {
    label {
      display: block;
    }
  }
}

#tab-description {
  display: block;
}

.mmenu-button {
  color: #ddd;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  float: left;
  position: fixed;
}

main.hidden-header {
  .mmenu-button {
    color: #000;
  }
}

.row.columns-center {
  text-align: center;

  > div {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: left;
  }
}
