$base-green: #27DC94;
$light-gray: #4c5b52;

@mixin img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

@mixin img-center {
  margin: 0 auto;
}

@mixin scale($scale) {
  -webkit-transform: scale($scale);
  -moz-transform: scale($scale);
  -ms-transform: scale($scale);
  transform: scale($scale);
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

@mixin fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin btn-default {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 15px;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;

  @include transition(all 0.3s);
  
  &:focus {
    text-decoration: none;
  }

  &:hover {
    background: $base-green;
    border-color: $base-green;
  }
}

@mixin btn-active {
  background: transparent;
  border: 2px solid $base-green;
  color: $base-green;
  padding: 10px 15px;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;

  @include transition(all 0.3s);

  &:focus {
    text-decoration: none;
  }

  &:hover {
    background: $base-green;
    border-color: $base-green;
    color: #fff;
  }
}