.home-page {
  footer {
    padding: 0 15px;
    background: none;
    color: inherit;

    .footer-wrapper {
      background: rgba(255, 255, 255, 0.9);
    }


    .social-links {
      a {
        border-color: $light-gray;

        i {
          color: $light-gray !important;
        }
      }
    }
  }
}

footer {
  background: rgba(255, 255, 255, 0.9);
  z-index: 999;
  width: 100%;
  color: #fff;
  position: absolute;
  bottom: 0;
  height: 46px;

  .footer-wrapper {
    position: relative;
  }

  .menu-footer-menu-container {
    float: left;
  }

  .menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    li {
      float: left;
      display: block;
      border-right: 1px solid $light-gray;

      a {
        color: $light-gray;
        padding: 13px 15px;
        display: block;

        &:hover {
          color: $base-green;
        }
      }
    }
  }

  .copyright {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    
    p {
      margin: 0;
    }
  }

  .social-links {
    float: right;
    padding-right: 40px;

    a {
      font-size: 26px;
      background: none !important;
      padding: 10px 0;
      height: auto !important;
      width: 46px !important;
      display: block;
      float: left;
      text-align: center;
      border-left: 1px solid #fff;
  
      &:last-child {
        border-right: 1px solid #fff;
      }

      i {
        color: #fff !important;

        @include transition(color 0.3s);
      }

      &:hover {
        i {
          color: $base-green !important;
        }
      }
    }
  }
}