@mixin mini-cart-block() {
  border-radius: 0;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  font-size: 16px;
  width: 195px;
  height: 56px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;

  &, p {
    line-height: 56px;
  }
}

.single-product {
  form.cart {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 999;

    @include translate(0, -50%);

    .button {
      float: right;
      clear: both;
      padding: 12px 15px;

      @include mini-cart-block();
    }
  }

  .quantity {
    float: right;
    margin-top: -130px;

    @include mini-cart-block();

    padding: 11px 40px 8px 40px;

    & > div {
      border: none;
      color: #fff;

      &:hover {
        background: none;
        color: $base-green;
      }
    }

    .qty {
      width: 35px !important;
      font-size: 32px;
      color: #fff;
      background: none;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  div[itemprop="offers"] {
    position: fixed;
    right: 0;
    top: 50%;
    padding: 8px 15px;
    color: #fff;
    font-size: 32px;
    text-align: center;
    
    z-index: 999;

    @include mini-cart-block();
    @include translate(0, -50%);
    margin-top: -65px;

    p {
      margin: 0;
      font-size: 32px;
    }
  }

  .images {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }

    h1 {
      position: absolute;
      top: 40%;
      left: 50%;
      color: #fff;
      z-index: 2;

      @include translate(-50%, -50%);
    }
  }

  h1.product_title,
  div[itemprop="description"],
  .product_meta .posted_in,
  .woocommerce-tabs {
    display: none;
  }

  .description-columns-row,
  .ingridients-row {
    
  }

  .ingridients-row,
  .required-items-row {
    margin-top: 25px;
    margin-bottom: 25px;

    text-align: center;
  }

  .ingridient,
  .required-item {
    font-size: 26px;
    text-transform: lowercase;
  }

  .general-description {
    margin-top: 35px;
    text-align: center;
  }

  .ingridients-image-wrapper {
    position: relative;
    margin-top: 25px;

    img {
      max-width: 100%;
      width: 100%;
    }
  }
}

.recommendated-dishes {
  margin-top: 50px;

  h2 {
    text-align: center;
    text-transform: uppercase;
  }
  
  ul {
    margin-top: 40px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    li {
      text-align: left;

      &:first-child {
        margin-left: 0 !important;
      }

      a {
        color: initial;

        img {
          margin-bottom: 10px;
        }
      }
    }
  }
}